<div class="ml-4 mt-4 example-button-container">
  <button (click)="goBack()" mat-fab color="warn">
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>
<div class="justify-center text-center">

  <div class="mt-10 mb-2">
    <mat-form-field appearance="outline">
      <mat-label>Chute inicial</mat-label>
      <input #chuteInicial matInput placeholder="chute inicial">
    </mat-form-field>
  </div>

  <button (click)="newton(f,df,chuteInicial.value )"
    class="my-5 text-center bg-blue-600 hover:bg-blue-800 text-white font-bold w-44 h-10 py-2 px-2 rounded-2xl">
    Gerar
  </button>

  <p class="font-bold text-green-500 text-xl" *ngIf="resultadoEncontrado != 0"> {{ resultadoEncontrado }} </p>

  <div *ngIf="resultadoEncontrado != 0" class="justify-center center max-w-sm w-full lg:max-w-full lg:flex">
    <div class=" bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8" *ngFor="let item of items">
        <div class="text-gray-900 font-bold text-xl mb-2">ITERAÇÃO - {{ item.iteracao }}</div>
        <div class="text-gray-900 font-bold text-xl mb-2">RAIZ {{ item.raiz }}</div>
        <div class="text-gray-900 font-bold text-xl mb-2">MÉTODO {{ item.metodo }}</div>

        <div class="text-gray-900 font-bold text-xl mb-2">-----------------</div>

      </div>
    </div>
  </div>

</div>