<div class="justify-between flex">
  <div class="ml-4 mt-4 example-button-container">
    <button (click)="goBack()" mat-fab style="background-color: white;">
      <mat-icon class="text-black">arrow_back</mat-icon>
    </button>
  </div>

  <p class="block text-lg font-medium leading-6 text-white mt-8">Falsa Posicao</p>
  <div class="mr-4 mt-4 example-button-container">
    <button (click)="reBuild()" mat-fab style="background-color: white;">
      <mat-icon class="text-black">refresh</mat-icon>
    </button>
  </div>
</div>


<div class="justify-center text-center mt-10">
  <div class="grid justify-center text-center center ">
    <label class="block text-sm font-medium leading-6 text-white">Valor inicial</label>
    <div class="relative mt-2 rounded-md shadow-sm">
      <input type="text" name="price" id="price"
        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        placeholder="Valor Inicial" #valorInicial>
    </div>

    <label class="block text-sm font-medium leading-6 text-white mt-5">Valor Final</label>
    <div class="relative mt-2 rounded-md shadow-sm">
      <input type="text" name="price" id="price"
        class="block w-full rounded-md border-0 py-1.5 pl-7 pr-20 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
        placeholder="Valor Final" #valorFinal>
    </div>
    <button (click)="falsaPosicao(f, valorInicial.value, valorFinal.value)" type="submit" class=" my-5 inline-flex justify-center rounded-md bg-green-600
      py-2 px-3 text-sm font-semibold text-white shadow-sm hover:bg-green-500
      focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2
      focus-visible:outline-green-500">Gerar</button>
  </div>

  <p class="font-bold text-white text-xl" *ngIf="resultadoEncontrado != 0">Valor encontrado na iteracao:
    {{iteracaoEncontada}} </p>
  <p class="font-bold text-green-500 text-xl mb-10" *ngIf="resultadoEncontrado != 0"> {{ resultadoEncontrado }} </p>

  <div *ngIf="items.length != 0" class="justify-center center max-w-sm w-full lg:max-w-full lg:flex">
    <div class=" rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
      <div class="mb-8" *ngFor="let item of items">
        <div class="text-white font-bold text-xl mb-2">ITERAÇÃO | {{ item.iteracao }}</div>
        <div class="text-white font-bold text-xl mb-2">RAIZ | {{ item.raiz }}</div>
        <div class="text-white font-bold text-xl mb-2">MÉTODO | {{ item.metodo }}</div>
        <div class="text-white font-bold text-xl mb-2">-----------------</div>
      </div>
    </div>
  </div>

</div>